@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow-y: auto;
}

.hover {
    cursor: pointer;
}

#quizletcardscontainer {
    width: 80%;
}
#quizletcards {
    margin: auto;
    margin-bottom: 2rem;
}
.quizletdiv {
    display: flex;
    font: bold;
    color: white;
}
.quizletp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    padding: 0.5rem 0;
}
#startgamebutton {
    border-radius: 25px;
    background: linear-gradient(90deg, rgb(85, 225, 85), rgb(28, 133, 89));
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin: 0 auto 2rem auto;
    display: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.popup {
    width: max-content;
    max-width: 60%;
    background: linear-gradient(90deg, rgb(241, 157, 157), rgb(240, 151, 151));
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 5px solid rgb(102, 102, 236);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    animation: popup 3s linear;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 30;
    color: white;
    position: fixed;
}
@keyframes popup {
    0% {
        transform: translate(-50%, -100%);
    }
    5% {
        transform: translate(-50%, 20%);
    }
    95% {
        transform: translate(-50%, 20%);
    }
    100% {
        transform: translat(-50%, -100%);
    }
}